<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>dataentrails :: operative identification selector</title>
</head>
<script src="resources/prototype.js" type="text/javascript"></script>
<script src="resources/scriptaculous.js" type="text/javascript"></script>

<script type="text/javascript">
/**
 * Generate a string of random characters of the specified length
 *
 * @param int length   Length of the string to generate
 * @param bool nodupes Set to true if duplicate characters should not be allowed
 * @return string
 */
function getRandomString(length, nodupes)
{
	// "typecast" the length to an integer
	length = parseInt(length, 10);

	// make sure the output is at least one character long
	if (length < 1) {
		length = 1;
	}

	// list of characters to use
	var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';

	// final output string
	var output = '';

	// list of used characters (only used if nodupes === true)
	var used = '';

	// make sure we don't have an infinite loop
	if ((nodupes === true) && (length > chars.length)) {
		length = chars.length;
	}

	// loop as many times as `length` defines
	do {
		// get a random number between 0 and length of `chars`
		var randnum = Math.floor(Math.random() * chars.length)

		// extract the random character
		var chr = chars.charAt(randnum);

		// check if we are not allowed to include duplicate characters
		if (nodupes === true) {
			// true if character already used

			var added = (used.indexOf(chr) !== -1);

			// skip the character if already used
			if (added === true) {
				continue;
			}

			// add character to the list of used ones
			used += chr;
		}

		// add character to the output string
		output += chr;
	} while (output.length < length);

	return output;
}

function getidentifier() {
    var govid = $F($('govid'));
    $('res').style.display = 'none';
    $('congrats').style.display = 'none';
    $('urlpara').style.display = 'none';
    new Ajax.Request('/namegen?govid='+govid,
		     {
			 method:'get',
			     onSuccess: function(transport){
			     var response = transport.responseText || 'error';
			     response = response.evalJSON();
			     $('output').update(response.hackername);
			     $('res').appear({duration: 0.3});
			     $('congrats').appear({duration: 0.3});
			     var url = ''
			     if (document.URL.toQueryParams().govid != govid) {
				 url = document.URL.split('?')[0];
				 url = url.concat('?govid=',govid);
			     }
			     $('recoveryurl').href = url;
			     window.history.pushState({}, 'dataentrails :: operative identification selector', url);
			     $('urlpara').appear({duration: 0.3});
			     Effect.Pulsate('output', {duration: 0.75, pulses: 2});
			 },
			     onFailure: function(){ }
		     });
    // $('output').update($F($('govid')));
}

function getRandomIdentifer() {
    $('govid').setValue(getRandomString(64,false));
    getidentifier();
}

</script>
<style type="text/css">
  body { background: black; color: green; font-family: sans-serif; font-size: 120%; margin: 0; padding: 0; width: 100% }
  input { background: black; color: green;  border: 1px solid green; font-family: sans-serif; font-size: 120%; vertical-align: absmiddle }
  input:focus { border: 1px solid #0f0; }
  p { width: 600px; margin-left: auto; margin-right: auto; margin-top: 1em; margin-bottom: 1em;}
  a:visited, a:hover, a:link { color: #0f0; text-decoration: none; }
  a:visited { color: #0a0; }
  a:before { content: '['; }
  a:after { content: ']'; }
</style>
<body onload="$('govid').focus()">
 <img src="resources/banner.png" style="display: block; margin-left: auto; margin-right: auto">
<p>
Enter your full legal name, S.I.N., or military serial number in order to recieve your new Dataentrails Information Services operative handle.
</p>
<p>
  GOVID <input type="text" id="govid" onkeydown="if (event.keyCode == 13) $('send').click();"><input id="send" type="button" value="send" onclick="getidentifier();"><input id="random" type="button" value="random" onclick="getRandomIdentifer();">
</p>
<p id="res" style="display: none">
  DEHNDL<br>
  <span id="output" style="font-size: 150%; color: #0f0; "></span>
</p>
<p id="congrats" style="display: none">
Congratulations for choosing Dataentrails Information Services. We look forward to a long and productive relationship with you as a new operative. Contact your controller for next steps and to configure your CashCow payment gateway.
</p>
<p id="urlpara" style="display: none">
<a id="recoveryurl" href="">URL TO THIS</a>
</p>

<script type="text/javascript">
var potentialgovid = document.URL.toQueryParams().govid;
if (potentialgovid) {
    $('govid').setValue(potentialgovid);
    getidentifier();
}
</script>
</body>
</html>
